spreadsheetId=1trwAN0YqZUmUHpih8J-7N2u5NIDqv_lOZZ2vf2n-C7I
tourDescription=Beispiel-Tour 2021
tourPrefix=BT
outputDir=out
copyrightAuthor="Peter Franz"
autorEmail="peter@example.org"
autorLink=https://www.komoot.de/user/99999999999
komootCookie="_ga=GA1.2.679…"